<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="31342DaemonDeveloper.tweetMaps" Version="1.0.0.0" Publisher="CN=61D665C0-9695-45EF-BA1E-14369EC75752" />
  <Properties>
    <DisplayName>tweetMaps</DisplayName>
    <PublisherDisplayName>DaemonDeveloper</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="tweetMaps" Logo="images\Tweet Maps SQUARE ICON.png" SmallLogo="images\Tweet Maps SMALL LOGO.png" Description="tweetMaps uses Bing Maps and Twitter to give you the first Windows 8 geolocation based Twitter application!" ForegroundText="light" BackgroundColor="#4099FF">
        <DefaultTile ShowName="logoOnly" WideLogo="images\Tweet Maps WIDE SCREEN.png" />
        <SplashScreen Image="images\Tweet Maps SPLASH SCREEN1.png" BackgroundColor="#4099FF" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>